@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Mukta:wght@200&family=Poppins:wght@200&display=swap');


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
.inicio
{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.clientes
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.contacto
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.img_1
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    
}
.img_2
{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    z-index: 10;
}
.img_3
{
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 10%;

}
.img_4
{
    position: absolute;
    left: 0;
    top: 60%;
    width: 43vw;

}
.inicio h1
{
    font-family: 'Cinzel', serif;
    position: absolute;
    z-index: 100;
    color: white;
    left: 10vw;
    font-size: 8vh;
    top: 50vh;
}
.barra 
{
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: right;
    padding: 30px 40px;
}
.barra li
{
    padding: 0 15px;
    
}
a
{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: uppercase;
}



/*servicios*/


.servicios
{
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: center;
}
#titulo1
{
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}
.df
{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-bottom: 10vh;

}
.dc img
{
    order: 1;
}
.dc text
{
    order: 2;
}
.text
{
    font-family: 'Poppins', sans-serif;
    width: 30vw;
    padding-right: 2vw;
    padding-left: 5vw;
}
.text h1
{
    text-align: left;
    padding-bottom: 30px;
}
.servicios img
{
    border-radius: 10px;
}

/*clientes*/


.clientes
{
    height: 40vh;
    background-color: #f2f2f2;
    width: 100%;
}

.slider_container
{
    font-family: 'Poppins', sans-serif;
    padding-top: 35px;

}

 
/*somos*/


.somos
{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 15vh;
    align-content: center;
    align-items: center;

}
.cont
{
    padding-left: 15%;
    width: 80%;
}
.somos h1
{
    padding-bottom: 3vh;
}
.somos p
{
    padding-bottom: 2vh;
}


/*formulario*/


.formulario
{
    font-family: 'Poppins', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 30%;
    width: fit-content;
}
.form
{

    background-color: #f2f2f2;  
}
.sep
{
    display: flex;
    justify-content: space-between;
}
.sep1 p
{
    color: rgb(0, 0, 0);
}
.sep1
{
    padding-bottom: 10px;
}
.sep1_d
{
    padding-left: 20px;
}


.btn
{
    height: 5vh;
    width: 5vw;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.btn-white
{
    
    color: black;
    background-color: white;
}
.btn-white:active
{
    background-color: rgba(71, 71, 71, 0.685);
    color: black;
}
.field
{
    width:20vw ;
    height: 4vh;
}
.field1
{
    width:100% ;
    height: 20vh;
}

/*contacto*/

.contacto
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    background-color: #141414;
    color: white;
}
.cont2
{
    padding: 5% 15%;
    justify-content: space-between;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.part
{
    width: 20%;
}

/*redes*/



.redes
{
    width: 100%;
    height: 6vh;
    background-color:#f2f2f2;
    justify-content: center;
}
.logos
{
    padding-top: 12px;
    justify-content: center;
    justify-items: center;
    padding-right: 3vw;
    height: 30px;
    text-align: center;
}
.logos img
{
    width: 30px;
}



/*responsive*/



@media(max-width: 950px){
    .clientes
    {
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0);
    }
.inicio{
    background-color: #141414;
}
    .img_1
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    
}
.img_2
{
    display: none;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    z-index: 10;
}
.img_3
{
    display: none;
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 10%;

}
.img_4
{
    display: none;
    position: absolute;
    left: 0;
    top: 60%;
    width: 43vw;

}
.inicio h1
{
    font-family: 'Cinzel', serif;
    position: absolute;
    z-index: 100;
    color: white;
    left: 10vw;
    font-size: 8vh;
    top: 50vh;
}
.barra 
{
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    padding: 30px 40px;
}
.barra li
{
    padding: 0 15px;
    
}
a
{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: uppercase;
}


    .servicios
{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
}
#titulo1
{
    padding: 5% 0;
    font-family: 'Poppins', sans-serif;
}
.df
{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    padding-bottom: 10%;

}

.text
{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.text h1
{
    text-align: left;
    padding-bottom: 30px;
}
.servicios img
{   
    border-radius: 10px;
    width: 100%;
}



.clientes
{
    height: 100%;
    background-color: #f2f2f2;
    width: 100%;
}

.formulario
{
    font-family: 'Poppins', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    width: fit-content;
    margin: auto;
    padding-left: 0;
}
.form
{
    margin: 0;
    background-color: #f2f2f2;  
}
.btn
{
    width: 30%;
}
.field
{
    width:40vw ;
    height: 4vh;
}
.field1
{
    width:100% ;
    height: 20vh;
}
.contacto
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    background-color: #141414;
    color: white;
}
.cont2
{
    padding: 5% 15%;
    justify-content: space-between;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}
.part
{
    width: 100%;
    padding-bottom: 3%;
}
.slider_body
{
    display: inline-block;
    justify-content: space-around;
}
.slider_picture
{
    order: 1;
}
.slider_text
{
    order: 2;
    margin: auto;
    text-align: center;
    padding-bottom: 10%;
}
}